<h1> mad_lib#new </h1>

<%= form_tag(create_path, :method=>'post', :multipart => true) do %>
    <%= label_tag(:verb, "Input Verb") %>
    <%= text_field_tag(:verb) %>
    <%= select_tag("type", options_for_select([['Scary', '1'],
    ['Funny', '2'],['Standard','3']], '1')) %>
    <%= submit_tag "Save" %>
<% end %>

<!-- end -->

<section class="madlib-container">
		<section class="madlib-header row">
			<div class="madlib-title small-12 columns">
				<h1>Mad Libs</h1>
				<h2>Let's get silly... or some other subtitle</h2>
			</div>
		</section>

		<section class="madlib-form row">
			<div class="small-12 medium-6 columns">
				<h3>Step #1:</h3>
			</div>
			<div class="small-12 medium-6 columns">
				<label>Choose your Madlib style
				  <select>
				    <option value="husker">Blank</option>
				    <option value="starbuck">Silly</option>
				    <option value="hotdog">Scary</option>
				    <option value="apollo">Lorem Ipsum</option>
				  </select>
				</label>
			</div>
			<div class="small-12 columns">
				<hr>
			</div>
		</section>
		<section class="madlib-form">
			<div class="small-12 columns">
				<h3>Step #2:</h3>
				<p>Fill out the below adjectives, nouns, adverbs and verbs accordingly.</p>
			</div>
			<form>
			<!-- repeat as necessary -->
			  <div class="row">
			    <div class="medium-6 columns">
			      <label>Input Label
			        <input type="text" placeholder=".medium-6.columns">
			      </label>
			    </div>
			    <div class="medium-6 columns">
			      <label>Input Label
			        <input type="text" placeholder=".medium-6.columns">
			      </label>
			    </div>
			  </div>
			<!-- end repeat -->
			<!-- submit -->
				<div class="small-12 columns">
					<hr>
				</div>
				<div class="small-12 columns">
					<h3>Step #3:</h3>
					<button type="button" class="large button">Generate MadLib
					</button>
				</div>
				
			</form>
		</section>
	</section>
