<section class="madlib-body row">
	<div class="small-12 columns">
		Girls in Space
		<hr>
	</div>
	<div class="small-12 columns">
		<p>What if you lived on the International Space Station? Imagine your normal day as it is now, but in space!</p>

		<p>In the morning, you get up at <%= @time %> and get dressed in your space <%= @clothing_plural %> and space <%= @clothing_singular %>. There is no gravity in space, so you float into the kitchen to eat your breakfast of dried <%= @food_plural %>, <%= @food_singular %> in a tube, and smashed up <%= @food_singular_2 %> in a plastic space container. Then, instead of taking the bus to school, you hop into a <%= @vehicle %> and orbit Earth <%= @number %> times.</p>

		<p>In the vehicle, you do <%= @adjective %> science experiments such as determining how good <%= @animal %> is at <%= @verb %>ing in space. When the experiments are done, you go outside the <%= @vehicle %> for some <%= @exercise %> in space. You <%= @verb %> outside the <%= @vehicle %> for an hour or more. When you are done <%= @exercise %>, you go back to the International Space Station for other activities such as <%= @verb_2 %>, <%= @verb_3 %>, and <%= @verb_4 %>.</p>
		<p>
		You end the day by sending a(n) <%= @noun %> to your parents via the space computer, and they tell you goodnight from Earth, down below.</p>
	</div>
	<div class="small-12 columns">
		<hr>
	</div>
	<div class="small-12 columns">
		<%= link_to "Play Again!", new_path, class: "large button" %>
	</div>
</section>
