<section class="madlib-body row">
	<div class="small-12 columns">
		<hr>
	</div>
	<div class="small-12 columns">
		I, the <%= @adjective %> and <%= @adjective_2 %> <%= @name %> have <%= @past_tense_verb %> <%= @name_2 %>'s <%= @adjective_3 %>sister and plan to steal her <%= @adjective_4 %> <%= @plural_noun %>! What are a <%= @animal %> and backpacking <%= @animal_2 %> to do?
		Before you can help <%= @name_2 %>, you'll have to collect the <%= @adjective_5 %> <%= @plural_noun_2 %> and <%= @adjective_6 %><%= @plural_noun_3 %> that open up the <%= @number %> worlds connected to <%= @name %>'s lair. There are <%= @number_2 %> <%= @plural_noun_4 %> and <%= @number_3 %> <%= @plural_noun_5 %> in the game, along with hundreds of other goodies for you to find.
		

	</div>
	<div class="small-12 columns">
		<hr>
	</div>
	<div class="small-12 columns">
		<%= link_to "Play Again!", new_path, class: "large button" %>
	</div>
</section>
